.DS_Store
.DS_store
**/.DS_Store
tmp/*
.sass-cache/*
public/cache/*
public/images/favicon.ico
public/images/hr-background.gif
coverage/*
lib/database.rb
config/settings.rb
views/layout.haml
public/stylesheets/*.css
public/stylesheets/sass/custom.sass
spec/test.sqlite3
Capfile
config/deploy.rb
