.rvmrc
.DS_Store
.DS_store
**/.DS_Store
.sass-cache/*
Capfile
config/deploy.rb
config/settings.rb
coverage/*
lib/database.rb
public/cache/*
public/images/favicon.ico
public/images/hr-background.gif
public/stylesheets/*.css
public/stylesheets/scss/custom.scss
spec/test.sqlite3
tmp/*
views/layout.haml
