%h2= @page_title
%ul
  -Post.all_published.each do |post|
    %li
      %p
        %a{ :href => permalink_url(post) }= post.title
        %br
        =post.published_at.strftime('%Y-%m-%d %I:%M%p')
        -if post.tags.count > 0
          &mdash;
          -post.tags.each do |tag|
            %a{ :href => tag_url(tag), :rel => 'category tag', :title => "View other posts tagged with '#{tag.name}'" }= "##{tag.name}"
        
