%h2= @page_title
%div.page
  %p
    Sorry, but the content you were looking for is not here.
  %p
    Something may have moved or may have been deleted. Please feel free to view the list of
    =succeed "." do
      %a{ :href => "/all_posts", :title => "A list of all archived posts on the site" } all currently available posts
