!!!
%html
%head
  %title
    -if !@page_title.nil?
      =@page_title
      |
    =BLOG_TITLE
  %link{ :href => "/style.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
%body
  #container
    .header
      %h1
        %a{ :href => '/', :rel => 'bookmark home' }= BLOG_TITLE
      / .navigation
      /   %ul
      /     %li
      /       %a{ :href => '/archives', :rel => 'bookmark' } Archives
      /     %li
      /       %a{ :href => '/rss' } RSS
    .content
      =yield
