!!!
%html
  %head
    %title
      -if !@page_title.nil?
        =@page_title
        |
      =BLOG_TITLE
    %link{ :href => "/stylesheets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
  %body
    .container
      #header{ :class => 'span-24 last'}
        %h1
          %a{ :href => '/', :rel => 'bookmark home' }= BLOG_TITLE
      #content{ :class => 'span-20' }
        =yield
      #sidebar{ :class => 'span-4 last' }
        .sidebarbox
          %h4 Pages
          -Page.all.each do |page|
            %a{ :href => page_url(page) }= page.title
        .sidebarbox
          %h4 About
          =markdown(ABOUT_TEXT)
        -if logged_in?
          .sidebarbox
            %h4 Admin
            %ul
              %li
                %a{ :href => '/new_post' } New Post
              %li
                %a{ :href => '/all_posts' } All Posts
              %li
                %a{ :href => '/new_page' } New Page
              %li
                %a{ :href => '/all_pages' } All Pages
              %li
                %a{ :href => '/logout' } Logout
                
      #footer{ :class => 'span-24 last' }
        %p
          All content copyright &copy;
          ="#{Date.today.year},"
          =BLOG_AUTHOR + '.'
          Powered by 
          %a{ :href => 'http://github.com/billturner/sinatrablog', :rel => 'bookmark', :title => "Use this code for yourself! It's available on github.com" } Sinatrablog
          \.
    - if USE_GOOGLE_ANALYTICS
      =haml :google_analytics, :layout => false