!!! 5
%html
  %head
    %title
      -if !@page_title.nil?
        =@page_title
        |
      =BLOG_TITLE
    =stylesheet_link_tag 'screen', :media => "screen, projection"
    =stylesheet_link_tag 'print', :media => "print"
    /[if lt IE 8]
      =stylesheet_link_tag 'ie', :media => "screen, projection"
    =stylesheet_link_tag 'custom', :media => "all"
    %link{ :href => "#{BLOG_URL}/rss", :rel => "alternate", :type => "application/rss+xml", :title => "#{BLOG_TITLE} RSS feed" }
    %link{ :href => "#{BLOG_URL}/", :rel => 'home' }
    =meta_tag "text/html; charset=UTF-8", :"http-equiv" => "Content-Type"
    =meta_tag "index, follow", :name => "robots"
    =meta_tag "#{BLOG_DESCRIPTION}", :name => "description"
    =meta_tag "#{BLOG_KEYWORDS}", :name => "keywords"
    =meta_tag "#{BLOG_AUTHOR}", :name => "author"
  %body
    .container
      #header{ :class => 'span-24 last'}
        %h1
          =link_to BLOG_TITLE, "/", { :rel => "bookmark home", :title => "#{BLOG_TITLE} home page" }
      #content{ :class => 'span-20' }
        =yield
      #sidebar{ :class => 'span-4 last' }
        .sidebarbox
          %h4 Pages
          %ul
            -Page.all.each do |page|
              %li
                =link_to page.title, page_url(page), { :rel => "bookmark", :title => "#{page.title}" }
            %li
              =link_to "All Posts", "/archive", { :rel => "bookmark", :title => "All archived posts at #{BLOG_TITLE}" }
            %li
              =link_to "RSS", "/rss", { :title => "The RSS feed for new posts at #{BLOG_TITLE}" }
        .sidebarbox
          %h4 About
          =markdown(ABOUT_TEXT)
        -if logged_in?
          .sidebarbox
            %h4 Admin
            %ul
              %li
                =link_to "New Post", "/new_post", { :title => "Write a new weblog post" }
              %li
                =link_to "All Posts", "/all_posts", { :title => "View all current weblog posts" }
              %li
                =link_to "New Page", "/new_page", { :title => "Write a new page" }
              %li
                =link_to "All Pages", "/all_pages", { :title => "View all current pages" }
              %li
                =link_to "Log out", "/logout", { :title => "Log out of your admin session" }
                
      #footer{ :class => 'span-24 last' }
        %p
          All content copyright &copy;
          ="#{Date.today.year},"
          =BLOG_AUTHOR + '.'
          =succeed "." do
            Powered by 
            =link_to "sinatrablog", 'http://github.com/billturner/sinatrablog', { :title => "A simple weblog application written by Bill Turner using Sinatra." }
    - if USE_GOOGLE_ANALYTICS
      =haml :google_analytics, :layout => false