!!!
%html
  %head
    %title
      -if !@page_title.nil?
        =@page_title
        |
      =BLOG_TITLE
    %link{ :href => "/stylesheets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css" }
  %body
    #container
      #header
        %h1
          %a{ :href => '/', :rel => 'bookmark home' }= BLOG_TITLE
        .navigation
          %ul
            %li
              %a{ :href => '/archives', :rel => 'bookmark' } Archives
            %li
              %a{ :href => '/rss' } RSS
      #content
        =yield
      #boxes
      #footer
        %p
          All content copyright &copy;
          ="#{Date.today.year},"
          =BLOG_AUTHOR + '.'
          Powered by 
          %a{ :href => 'http://github.com/billturner/sinatrablog', :title => "Use this code for yourself! It's available on github.com" } Sinatrablog
    - if USE_GOOGLE_ANALYTICS
      =haml :google_analytics, :layout => false