%h2= @page_title
%form{ :method => 'POST', :action => "/login" }
  %dl
    %dt
      =label_tag "login_username", :caption => "Username"
    %dd
      =text_field_tag :"login[username]", :id => 'login_username', :size => 20
    %dt
      =label_tag "login_password", :caption => "Password"
    %dd
      =password_field_tag :"login[password]", :id => 'login_password', :size => 20
    %dt
      =submit_tag "Log in"

