%dl
  %dt
    Post Title:
  %dd
    %input{ :type => 'text', :name => 'post[title]', :value => @post.title, :size => 50 }
  %dt
    Post Body:
  %dd
    =find_and_preserve do
      %textarea{ :name => 'post[body]', :cols => 50, :rows => 20 } 
        =@post.body
  %dt
    Post Tags:
  %dd
    %input{ :type => 'text', :name => 'post[taglist]', :value => @post.tags.map{ |tag| tag.name }.join(", "), :size => 50 }
  %dt
    Publish?
  %dd
    %input{ :type => 'checkbox', :name => 'post[published]', :value => 1 } Yes

  %dt
    %input{ :type => 'submit' }
