=partial 'single_post', :object => post
-if logged_in?
  .admin
    Admin:
    =link_to "Edit this Post", "/edit_post/#{post.id}"
- if ALLOW_COMMENTS
  #comments
    =haml :disqus_embed, :layout => false

    