=haml :single_post, :locals => { :post => post }, :layout => false
-if logged_in?
  .admin
    Admin:
    =link_to "Edit this Post", "/edit_post/#{post.id}"
- if ALLOW_COMMENTS
  #comments
    =haml :disqus_embed, :layout => false
    