%div.post
  %h3
    =link_to post.title, permalink_url(post), { :rel => "bookmark", :title => "Permanent link for this post"}
  %div.postbody 
    =find_and_preserve do
      =markdown(post.body)
  %div.meta
    =post.published_at.strftime('%Y-%m-%d %I:%M%p')
    -if !post.tags.empty?
      &mdash;
      -post.tags.each do |tag|
        =link_to "##{tag}", tag_url(tag), { :rel => "category tag", :title => "View other posts tagged with '#{tag}'"}
    -if ALLOW_COMMENTS && request.env['PATH_INFO'] !~ /^\/\d\d\d\d\//
      &mdash;
      =link_to "Comments", [permalink_url(post), "disqus_thread"].join("#")
