!base_serif = "Times New Roman"
!base_sans = "Helvetica, Arial, sans-serif"
!post_title_font = "Georgia, Times New Roman, serif"
!post_title_link_color = "#800"

// reset-revised.sass
// Generated 04/07/2008
// yong joseph bakos
// This is a sassified version of Eric Meyer's latest reset.css
// http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
//
html
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

body
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :line-height 1

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

blockquote
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :quotes none

pre, a, abbr, acronym, address, big, cite, code
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

del
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :text-decoration line-through

dfn, em, font, img
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

ins
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :text-decoration none

kbd
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

q
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :quotes none

s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

ol, ul
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :list-style none

li, fieldset, form, label, legend
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

table
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent
  :border-collapse collapse
  :border-spacing 0

caption, tbody, tfoot, thead, tr, th, td
  :margin 0
  :padding 0
  :border 0
  :outline 0
  :font-size 100%
  :vertical-align baseline
  :background transparent

*:focus
  :outline 0
// end reset css in sass

body
  :font-family = !base_sans
  :text-align center

#container
  :width 600px
  :margin 20px auto
  :text-align left

dl
  :padding 4px

dd
  :margin-left 8px
  
.navigation
  :padding 3px
  :text-align right
  form
    :display inline

.post
  :padding 2px 0 10px 0
  h3
    :font-family = !post_title_font
    :font-weight normal
    :font-size 1.8em
    :margin-bottom 5px
    a
      :text-decoration none
      :color = !post_title_link_color
  p
    :margin 5px 0
    :padding 3px 0
    
// post tag links & date
.meta
  :padding 4px 0
  :color #aaa
  a
    :text-decoration none
    :color #ccc
  a:hover
    :text-decoration underline
  span.date
    :font-weight bold

// various
code
  :font-family 'Courier New', Courier, monospace
  :line-height 1.3

pre
  :margin 10px 0
  :padding 10px
  :overflow auto
  :width 95%
  