MongoMapper.connection = Mongo::Connection.new('localhost')

configure :test do
  MongoMapper.database = 'sinatrablog_test'
end

configure :development, :production do
  MongoMapper.database = 'sinatrablog'
end

# load model file
require 'lib/models'
