configure :production do

  DataMapper.setup(:default, {
    :adapter  => 'mysql',
    :host     => 'localhost',
    :username => 'user' ,
    :password => 'pass',
    :database => 'sinatrablog_production'
  })

end

configure :test do

  DataMapper.setup(:default, {
    :adapter  => 'mysql',
    :host     => 'localhost',
    :username => 'user' ,
    :password => 'pass',
    :database => 'sinatrablog_test'
  })

end

# load model files
Dir['app/models/*.rb'].each { |file| require file }