configure do

  # caching setup
  # require 'sinatra/cache'
  # set :cache_enabled, true
  # set :cache_page_extension, '.html'
  # set :cache_output_dir, File.join(Sinatra::Application.public, 'cache')
  # set :cache_logging, true

  # allow sessions
  enable :sessions
  
  # log datamapper queries
  DataMapper::Logger.new(STDOUT, :debug) if development?
  
  # haml settings
  set :haml, { :attr_wrapper => '"' }
  
  # Sass via Rack settings
  Sass::Plugin.options[:css_location] = File.join(Sinatra::Application.public, 'stylesheets')
  Sass::Plugin.options[:template_location] = File.join(Sinatra::Application.public, 'stylesheets', 'sass')
  
end

# site-wide variables
BLOG_TITLE = 'My Weblog'
BLOG_AUTHOR = 'Bart Simpson'
BLOG_URL = 'http://localhost:4567'
BLOG_DESCRIPTION = "Something used for heading and RSS description"
BLOG_KEYWORDS = 'weblog, blog'
ABOUT_TEXT = "This is some sample text, where you could put links or whatever.\n\nI run this through markdown."

# authentication
LOGIN_USERNAME = 'login'
LOGIN_PASSWORD = 'passwd'

# comments by disqus
ALLOW_COMMENTS = false
DISQUS_SHORTNAME = 'weblogname'

# google analytics tracking id
USE_GOOGLE_ANALYTICS = false
GOOGLE_ANALYTICS_ID = 'UA-XXXXX-X'

# datetime for RSS feed
class DateTime
  def rfc822
    self.strftime "%a, %d %b %Y %H:%M:%S %z"
  end
end
